<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
        </div>

        <!-- News Section -->
        <div class="row">
            <div class="col-md-12" />
            <h3>Latest Mars News</h3>
            <h6 style="color: #c1440e">{{ mars_data.news_title }}</h6>
            <p>{{ mars_data.news_p}}</p>
        </div>

                   </div>
                           <div class="container">
                        <div class="row">
                            <!-- Left Image-->
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <h3>Featured Mars Image</h3>
                                <img src="{{ mars_data.featured_image_url }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
                            </div>

                <!-- Weather Card -->
                <div class="col-lg-4 col-md-4 col-sm-12">

                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-white bg-dark">
                            <h6 class="card-title" style="font: bold">Current Weather on Mars</h6>
                            <p class="card-text">{{ mars_data.latest_tweet }}</p>
                        </div>

                    </div>
                    <!-- Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                        crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                        crossorigin="anonymous"></script>

                </div>
                <!--Table-->

                <div
                    style="padding-left: 80%; max-width: 500px; max-height: 100px; font-size: 10px; margin-bottom: 15px;">
                    <h3 style="font: bold">Mars Facts</h3>

                    {{ mars_data.mars_table|safe}}
                </div>
            </div> <!-- col4 -->
        </div><!-- Row -->
    </div><!-- Container -->

    <!-- Cards -->
    <h3 style="padding-top: 10px; margin-top: 20px; text-align: center;">Mars Hemispheres</h3>
    <div class="card-deck">

        <hr>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">

                    {% for hemispheres in mars_data.hemi %}
                    <div class="col-md-8">
                        <div class="card text-white bg-dark" style="margin: 50px;">
                            <img class="card-img-top" src="{{ hemispheres.img_url }}" />
                            <div class="card-body">
                                <p class="card-text">{{ hemispheres.title }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</body>

</body>

</html>